body{
    margin: 0;
}
div{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding-top: 18%;
    gap: 25%;
}
div #button1{
    background-color: #df2b87;
    border:0;
    width: 20%;
    height: 46px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}


div #button2{
    background-color: #0da2e5;
    border:0;
    width: 11%;
    height: 37px;
    border-radius: 15px;
    font-size: 15px;
    color: #fff;
    margin-top: 4%;

}